.container-fluid(ng-controller='FooterCtrl')
  p.text-muted Copyright &copy; 2014 |&nbsp;
    a(href='http://www.teda.id.au/weatherpi', target='_top', data-toggle='tooltip', data-placement='top', title='{{appInfo.description}}') {{appInfo.name}}
    |&nbsp;({{appInfo.version}})