$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

// Component styles are injected through grunt
// injector
@import 'account/details/details.scss';
@import 'account/login/login.scss';
@import 'main/main.scss';
@import 'settings/app/app.scss';
@import 'settings/log/log.scss';
@import 'settings/serialport/serialport.scss';
@import 'settings/settings.scss';
@import 'settings/users/users.scss';
@import 'weather/barometric-pressure/barometric-pressure.scss';
@import 'weather/carbon-monoxide/carbon-monoxide.scss';
@import 'weather/dew-point/dew-point.scss';
@import 'weather/dust/dust.scss';
@import 'weather/humidity/humidity.scss';
@import 'weather/infrared/infrared.scss';
@import 'weather/lux/lux.scss';
@import 'weather/methane/methane.scss';
@import 'weather/temperature/temperature.scss';
@import 'weather/ultraviolet/ultraviolet.scss';
@import 'weather/weather.scss';
@import 'footer/footer.scss';
@import 'navbar/navbar.scss';
// endinjector

/**
 * App-wide Styles
 */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
 * Main content
 */



.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 49px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

