header(ng-include='"components/navbar/navbar.html"')

.container-fluid
  .row(ng-init="getLatestReadings()")
    .col-md-3.col-sm-6
      .panel.panel-default
        .panel-heading Temperature
        .panel-body.text-center
          h1.reading {{latestTemperature.reading}}
          .small {{latestTemperature.timestamp | date:'HH:mm EEE, dd MMM yyyy Z'}}
    .col-md-3.col-sm-6
      .panel.panel-default
        .panel-heading Dew Point
        .panel-body.text-center
          h1.reading {{latestDewPoint.reading}}
          .small {{latestDewPoint.timestamp | date:'HH:mm EEE, dd MMM yyyy Z'}}
    .col-md-3.col-sm-6
      .panel.panel-default
        .panel-heading Humidity
        .panel-body.text-center
          h1.reading {{latestHumidity.reading}}
          .small {{latestHumidity.timestamp | date:'HH:mm EEE, dd MMM yyyy Z'}}
    .col-md-3.col-sm-6
      .panel.panel-default
        .panel-heading Pressure
        .panel-body.text-center
          h1.reading {{latestPressure.reading | number:1}}
          .small {{latestPressure.timestamp | date:'HH:mm EEE, dd MMM yyyy Z'}}

footer.footer(ng-include='"components/footer/footer.html"')