header(ng-include='"components/navbar/navbar.html"')

.container-fluid
  .row
    .col-md-3.well
      .page-header
        h1 Weather
      p.text-justify
        | Weather is the state of the atmosphere, to the degree that it is hot or cold, wet or dry, calm or stormy, clear or cloudy.[1] Weather, seen from an anthropological perspective, is something all humans in the world constantly experience through their senses, at least while being outside. There are socially and scientifically constructed understandings of what weather is, what makes it change, what effects it has on humans in different situations etc.[2] Therefore weather is something people often communicate about. Turning back to the meteorological perspective, most weather phenomena occur in the troposphere,[3][4] just below the stratosphere. Weather generally refers to day-to-day temperature and precipitation activity, whereas climate is the term for the statistics of atmospheric conditions over longer periods of time.[5] When used without qualification, "weather" is generally understood to mean the weather of Earth.

    .col-md-9
      .row
        .col-md-12
          | Weather stats
      .row
        .col-md-12
          table.table.table-striped.table-hover
            thead
              tr
                th.col-date.text-center Date
                th.col-temperature.text-center Temperature
                th.col-barometric-pressure.text-center Barometric Pressure
                th.col-humidity.text-center Humidity
                th.col-dew-point.text-center Dew Point
                th.col-lux.text-center Lux
                th.col-infrared.text-center Infrared
                th.col-ultraviolet.text-center Ultraviolet
                th.col-methane.text-center Methane
                th.col-carbon-monoxide.text-center Carbon Monoxide
            tbody
              tr(ng-repeat="weather in last24hrs")
                td.col-date.text-right {{weather.timestamp | date:'HH:mm'}}
                td.col-temperature.text-right {{weather.temperature | number:1}} &deg;C
                td.col-barometric-pressure.text-right {{weather.barometricPressure | number:0}} hPa
                td.col-humidty.text-right {{weather.humidity | number:2}} &#37;
                td.col-dew-point.text-right {{weather.dewPoint | number:1}}
                td.col-lux.text-right {{weather.lux | number:0}} lux
                td.col-infrared.text-right {{weather.infrared | number:0}} nm
                td.col-ultraviolet.text-right {{weather.ultraviolet | number:0}} nm
                td.col-methane.text-right {{weather.methane | number:0}}
                td.col-carbon-monoxide.text-right {{weather.carbonMonoxide | number:0}}


footer.footer(ng-include='"components/footer/footer.html"')
