header(ng-include='"components/navbar/navbar.html"')

.container-fluid
  .row
    .col-md-3.well
      .page-header
        h1 Barometric Pressure
      table.table.table-striped.table-hover.table-bordered.table-condensed.occupy-height(fixed-header='')
        thead
          tr
            th.col-date.text-center Date
            th.col-barometric-pressure.text-center Barometric Pressure
        tbody
          tr(ng-repeat="reading in last24hrs")
            td.col-date.text-right {{reading.timestamp | date:'EEE, dd-MMM-yyyy HH:mm'}}
            td.col-barometric-pressure.text-right {{reading.barometricPressure | number:1}} hPa

    .col-md-9
        | Graph
        //canvas#line.chart.chart-line(data='data', labels='labels')
        nvd3-line-chart(data='data', showxaxis='true', showyaxis='true', tooltips='true', interactive='true')

footer.footer(ng-include='"components/footer/footer.html"')
