header(ng-include='"components/navbar/navbar.html"')

.container-fluid.main
  .row
    .col-sm-3.col-md-2.sidebar
      ul.nav.nav-sidebar
        li(ng-repeat='item in sideBarMenu', ng-class='{active: $state.includes(item.state)}')
          a(ui-sref='{{item.state}}') {{item.title}}

    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
      div(ui-view='main')

footer.footer(ng-include='"components/footer/footer.html"')
