header(ng-include='"components/navbar/navbar.html"')
.container-fluid
  .page-header
    h1
      | Settings &nbsp;
      small Change how hStation Works

  .row
    .col-sm-10
      form.form-horizontal(role='form')
        .form-group
          label.col-sm-2.control-label(for='serialPort') Arduino Serial Port:
          .col-sm-5
            select.form-control(ng-model='settings[0].serialport',
              ng-options='serialport.comName as serialport.comName + " (" + serialport.manufacturer + ")"  for serialport in serialports',
              ng-change='serialportSelected()')
              option(value='') Select Serial Port
          .col-sm-4
              button.btn.btn-default.col-sm-5(ng-click='connectArduino()') Connect Arduino


footer.footer(ng-include='"components/footer/footer.html"')